section#intro {
    font-family: astro_space;
    height: calc(100vh - 60px);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20%;
}

.intro-text {
    width: 100%;
    color: black;
    background-color: rgba(97, 108, 105, 0.75);
}