section#projects {
    font-family: astro_space;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 0 20%;
}

section#projects ul {
    display: inline-block;
    padding: 0.5rem;
    background-color: rgba(97, 108, 105, 0.75);
}

/*to show the projects*/
section#projects .toggle_blis, .toggle_book, .toggle_dh {
    color: #313143;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;

    i {
        display: inline-block;
        width: 40px;
        text-align: center;
    }
}

section#projects .blis_digital, .daggerheart, .book_app {
    padding: .5rem;
    display: none;
    position: relative;
    height: 0;
    width: 100%;
    background-color: rgba(97, 108, 105, 0.75);
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section#projects .blis_digital.open, .daggerheart.open, .book_app.open {
    overflow: auto;
    height: 18rem;
    display: inline-block;
}

p {
    display: flex;
    align-items: center;
}

@media (max-width: 1922px) {
    section#projects .intro {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        background-color: rgba(97, 108, 105, 0.75);
    }

    .book_app.open, .blis_digital.open, .daggerheart.open {
        display: flex;
        overflow: auto;
        flex-direction: column;
    }

    p {
        flex-direction: column;
    }
}

