section#projects {
    height: calc(100vh - 60px);
    padding: 0 20%;
}

section#projects .sidebar {
    display: inline-block;
    padding: 0.5rem;
    margin-left: auto;

    span {
        cursor: pointer;
        text-shadow: 1px 1px 2px #000, 0 0 10px rgba(0, 0, 0, 0.7);
    }

    i {
        font-size: x-large;
        display: inline-block;
        width: 30px;
        text-align: center;
        padding-bottom: 5px;
    }
}

/*to show the projects*/
section#projects .project_content {
    padding: .5rem;
    display: none;
    position: relative;
    height: 0;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 4px 4px 6px white;
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section#projects .project_content.open {
    height: 40rem;
    display: inline-block;
}

p {
    display: flex;
    align-items: center;
}

@media (max-width: 1922px) {
    .project_content.open {
        display: flex;
        overflow: auto;
        flex-direction: column;
    }

    p {
        flex-direction: column;
    }
}

