section#projects {
    font-family: astro_space;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 0 20%;
}

section#projects .intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: rgba(116, 98, 141, 0.6); /* rgba allows for opacity w/out changing anything else */
}

section#projects ul {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(116, 98, 141, 0.8); /* rgba allows for opacity w/out changing anything else */
}

/*to show the blis digital project*/
section#projects .toggle_blis {
    color: #bf8cac;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}

section#projects .blis_digital {
    padding: .5rem;
    display: none;
    position: relative;
    height: 0;
    width: 100%;
    background-color: rgba(116, 98, 141, 0.5);
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section#projects .blis_digital.open {
    overflow: auto;
    height: 18rem;
    display: inline-block;
}

p {
    display: flex;
    align-items: center;
}

/*to show the dice roller project*/
section#projects .toggle_dice {
    color: #bf8cac;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    padding-top: .5rem;
}

section#projects .dice_roller {
    padding: .5rem;
    display: none;
    position: relative;
    height: 0;
    width: 100%;
    background-color: rgba(116, 98, 141, 0.5);
    border-radius: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

section#projects .dice_roller.open {
    height: 30rem;
    display: inline-block;
    overflow: auto;
}


/* Responsive Design */
@media (max-width: 992px) {
    .dice_roller.open, .blis_digital.open {
        display: flex;
        overflow: auto;
        flex-direction: column;
    }
    
    .blis_digital p {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .dice_roller.open, .blis_digital.open {
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .blis_digital p {
        flex-direction: column;
    }
    
    .dice_roller img {
        display: none;
    }
}

