@{
    ViewData["Title"] = "Contact";
}
@model ContactModel

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/contact.css" type="text/css"/>
</head>
<section id="contact">
     <h1>@ViewData["Title"]</h1>
     
     <p> You can contact me by filling out the below form.<br>My resume can be downloaded <a style="color: white; text-decoration: underline" href="~/Images/CV.pdf" download>here</a></p> 
     
     <form asp-action="ContactMe">
         <div class="form_input">
             <input asp-for="Name" placeholder="Your Name" required />
             <span asp-validation-for="Name" class="text-danger"></span>
         </div>
         <div class="form_input">
             <input asp-for="Email" placeholder="Your Email" type="email" required />
             <span asp-validation-for="Email"></span>
         </div>
         <div class="form_message">
             <textarea asp-for="Message" placeholder="Your Message..." required ></textarea>
             <span asp-validation-for="Message"></span>
         </div>
         
         <div class="contact_button">
             <input type="submit" value="Contact Me">
         </div>
     </form>   
</section>
