@{
    ViewData["Title"] = "Projects";
    ViewData["Link"] = "https://www.blisdigital.com/nieuws/blis-student-innovation-award-2023/";
}
<h1>@ViewData["Title"]</h1>

<p> Through the years I have worked on several projects, ones from school and ones for myself simply to learn more</p>