@{
    ViewData["Title"] = "Skills";
}
<section id="skills">
    <h1>@ViewData["Title"]</h1>
    <p> Through the years I have worked with several languages and frameworks</p>

    <div>
        <h5>Frontend</h5>
        @foreach(var item in ViewBag.Frontend)
        {
            <button class="skills_button">@item</button>
        }
    </div>

    <div>
        <h5><br>Backend</h5>  
        @foreach(var item in ViewBag.Backend)
        {
            <button class="skills_button">@item</button>
        }
    </div>
</section>
   


@* /* CSS HEX */ *@
@* --tuna: #313143; *@
@* --viola: #bf8cac; *@
@* --rum: #74628d; *@
@* --wisteria: #9170ae; *@
@* --woodsmoke: #161a19; *@
@* --scarpa-flow: #585467; *@
@* --old-lavender: #705f6f; *@
@* --corduroy: #616c69; *@
@* --lemon-grass: #9a9c91; *@
