section#projects {
    font-family: astro_space;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

section#projects a {
    font-size: 1.2rem;
    color: #bf8cac;
}

section#projects ul {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(116, 98, 141, 0.8); /* rgba allows for opacity w/out changing anything else */
}

/* sets sidebar centered on mobile */
@media (max-width: 768px) {
    .sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/*@* !* CSS HEX *! *@*/
/*@* --tuna: #313143; *@*/
/*@* --viola: #bf8cac; *@*/
/*@* --rum: #74628d; *@*/
/*@* --wisteria: #9170ae; *@*/
/*@* --woodsmoke: #161a19; *@*/
/*@* --scarpa-flow: #585467; *@*/
/*@* --old-lavender: #705f6f; *@*/
/*@* --corduroy: #616c69; *@*/
/*@* --lemon-grass: #9a9c91; *@*/